.pricing {
  width: 100%;
  padding: 6rem 1rem;
  //   background: rgb(29, 29, 29);

  .line {
    width: 100%;
    border-bottom: 1px dotted #fff;
    margin-top: 2rem;
    margin-bottom: -3rem;
  }
  .card-container {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      //   border: black 1px solid;
      border: #eee 1px solid;
      color: #eee;
      text-align: center;
      padding: 2rem 3rem;
      margin: 0 1rem;
      border-radius: 15px;

      &:hover {
        background: #141414;
      }

      h3 {
        font-size: 1.4rem;
        // padding-bottom: 1rem;
      }

      .bar {
        border-bottom: 1px solid #eee;
        width: 10%;
        margin: 1rem auto;
      }

      .btc {
        font-size: 3rem;
        font-weight: 600;
      }

      p {
        padding: 0.4rem;
        font-size: 1rem;

        &:last-of-type {
          margin-bottom: 1.2rem;
        }
      }

      a.btn {
        padding: 0.4rem 1rem;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .pricing {
    .card-container {
      max-width: 90%;
      display: grid;

      //   justify-content: center;
      //   margin: auto;

      .card {
        padding: 1rem 3rem;
        margin-bottom: 1rem;

        .btc {
          font-size: 2rem;
        }
      }
    }
  }
}
